/*
@keyframes pulse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
*/

body {
  background-color: var(--background);
  position: relative;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #000000;
  filter: url(#noiseOverlay);
  opacity: 20%;

  pointer-events: none;
}

/* .overlay { */
/*   position: absolute; */
/*   mask-image: url(./assets/fullMask.svg); */
/*   mask-size: contain, unset; */
/*   mask-position: center, unset; */
/*   mask-repeat: no-repeat; */
/*   mask-size: cover, 200px; */
/*   mask-composite: exclude; */
/* } */
/**/
/* svg { */
/*   width: 100%; */
/*   height: 100%; */
/*   position: fixed; */
/*   top: 0; */
/*   left: 0; */
/* } */

.grayscale-mask {
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: contrast(500%) grayscale(80%) invert(15%) brightness(50%) sepia(100%) hue-rotate(-15deg);
  width: 100vw;
  height: 100vh;
  mask-image: url(#mask);

  /* mix-blend-mode: multiply; */

  /* pointer-events: none; */
}

@media (prefers-color-scheme: light) {
  .grayscale-mask {
    backdrop-filter: contrast(1000%) grayscale(80%) invert(95%) brightness(45%) sepia(100%);
  }
}

/* .hero::before { */
/*   content: ""; */
/*   position: absolute; */
/*   top: 0; */
/*   left: 0; */
/*   width: 100%; */
/*   height: 100%; */
/*   z-index: -9999; */
/*   background: #000000; */
/*   filter: url(#noiseOverlay); */
/*   opacity: 20%; */
/*   pointer-events: none; */
/* } */
/**/
/* .rect { */
/*   filter: url(#grayscale-filter); */
/*   backdrop-filter: grayscale(100%); */
/* } */
/**/
.mask-circle {
  filter: url(#turbulenceFilter) url(#noiseFilter);
  /* transition: transform 1s, opacity 1s; */
  /* transform: scale(1); */
  /* transition: r .5s ease-in-out 0s; */
  transition-behavior: allow-discrete;
  will-change: cy, cx, r;
  /* animation: rotate 1s linear infinite; */
}

/* .mask-circle.stopped { */
  /* transform: scale(.8); */
  /* opacity: 0; */
/*   transition: r 2s ease-in 1.5s; */
/* } */

/* .mask-circle.hovered { */
  /* transform: scale(1.2); */
  /* opacity: 1; */
/*   transition-property: cy, cx, r; */
/*   transition: .7s ease-out 0s; */
/* } */

/* .hero { */
/*   mask-image: url(#mask); */
/* } */
/**/
/* .mask-circle.stopped { */
/*   scale: 0; */
/* } */
/**/
/* .grid-element { */
/*   filter: url(#noiseFilter); */
/*   mask-image: url(#mask); */
/* } */
