@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #130d09;
  --foreground: #ffe1cc;
  --primary: #002e4d;
  --secondary: #b3e0ff;
  --tertiary: #fff0e5;
  --accent: #ff8b3d;

  /* --background: #180161; */
  /* --foreground: #dcd4fe; */
  /* --primary: #4F1787; */
  /* --secondary: #FB773C; */
  /* --tertiary: #FB773C; */
  /* --accent: #EB3678; */
}
