@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1d2021;
  --foreground: #ebdbb2;
  --primary: #305d5f;
  --secondary: #83a598;
  --tertiary: #458588;
  --accent: #fe8019;
  --red: #cc241d;
  --yellow: #d79921;
  --aqua: #689d6a;
}
